numpy==2.0.1
scipy==1.15.3
pandas==2.3.3
h5py==3.16.0
tqdm==4.67.3
joblib==1.5.3
numba==0.65.0
llvmlite==0.47.0
pyfaidx==0.9.0.4
pyBigWig==0.3.25
pybigtools==0.2.5
scikit-learn==1.7.2
matplotlib==3.10.8
seaborn==0.13.2
logomaker==0.8.7
memelite==0.2.0
modisco-lite==2.4.0
bam2bw==0.4.1
MACS3==3.0.4
tangermeme==1.0.3
bpnet-lite==1.0.0
plotnine==0.14.5
